:import {
  -st-from: "../../palette.st.css";
  -st-named: main, mainHover, inputHover, focusShadow;
}

:import {
  -st-from: "../Input/Input.st.css";
  -st-default: Input;
}

:import {
  -st-from: "../Input/InputStates.st.css";
  -st-named: input-small;
}

.root {
  /* border-radius: 6px; */
  position: relative;
}

.tickerGroup {
  position: absolute;
  right: 12px;
  top: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.tickerGroup:hover + .coreTimePicker {
  /* Copied over from Input.st.css */
  background-color: value(inputHover);
}

.coreTimePicker {
  -st-mixin: Input, input-small;
  font-family: "HelveticaNeueW01-55Roma";
}

.coreTimePicker:focus {
	box-shadow: 0 0 0 3px value(focusShadow);
}

.ticker {
  -st-states: top, bottom;
  border: none;
  border-right: 1px solid transparent;
  outline: none;
  cursor: pointer;
  stroke: value(main);
  background-color: transparent;
  height: 50%;
  padding: 0px;
}

.ticker:hover {
  stroke: value(mainHover);
}

.ticker:top {
  padding-top: 0px;
}

.ticker:bottom {
  padding-bottom: 16px;
}