:import {
  -st-from: "../../palette.st.css";
  -st-named: main, mainHover, inputHover, focusShadow;
}

:import {
  -st-from: "../Input/Input.st.css";
  -st-default: Input;
  -st-named: borderWidth;
}

:import {
  -st-from: "../Input/InputStates.st.css";
  -st-named: input-small;
}

:vars {
  tickerInset: 12px;   
}

.root {
  position: relative;
}

.tickerGroup {
  -st-states: rtl;
  position: absolute;
  right: value(tickerInset);
  top: value(borderWidth);
  height: calc(100% - 2 * value(borderWidth));
  display: flex;
  flex-direction: column;
  z-index: 1;
}

:global(html[dir="rtl"]) .tickerGroup {
  right: auto;
  left: value(tickerInset);
}

.tickerGroup:rtl {
  right: auto;
  left: value(tickerInset);
}

.coreTimePicker::nativeInput {
  background-color: red !important;
}

.tickerGroup:hover + .coreTimePicker::nativeInput {
  /* Copied over from Input.st.css */
  background-color: value(inputHover) !important;
}

.coreTimePicker {
  -st-mixin: Input, input-small;
  font-family: "HelveticaNeueW01-55Roma";
}

.coreTimePicker:focus {
	box-shadow: 0 0 0 3px value(focusShadow);
}

.ticker {
  border: none;
  outline: none;
  cursor: pointer;
  stroke: value(main);
  background-color: transparent;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  display: flex;
  justify-content: center;
}

.ticker:hover {
  stroke: value(mainHover);
}
