:import {
  -st-from: "wix-ui-core/dist/src/components/Autocomplete/Autocomplete.st.css";
  -st-default: Autocomplete;
}

:import {
  -st-from: "../../palette.st.css";
  -st-named: primaryText, mainHover, main, disabledText, inputHover, primaryLightText, inputBorderColor, inputDisabledBorderColor, danger, backgroundSecondary;
}

:import {
  -st-from: "../Input/Input.st.css";
  -st-default: Input;
}

:import {
  -st-from: "../Input/InputStates.st.css";
  -st-named: input-large, input-medium, input-small;
}

.root {
  -st-extends: Autocomplete;
  -st-states: size(enum(large, medium, small));
}

.root::popoverContent {
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.14);
  max-width: 100%;
  min-width: 100%;
}

.root::inputComponent {
  -st-mixin: Input(
    paddingRight 30px,
    marginRight -18px
  );
}

.root:size(large)::inputComponent {
  -st-mixin: input-large;
}

.root:size(medium)::inputComponent {
  -st-mixin: input-medium;
}

.root:size(small)::inputComponent {
  -st-mixin: input-small;
}

.root::dropdownContent::dropdownOption {
  white-space: nowrap;
  padding: 8px 20px;
  text-overflow: ellipsis;
  font-size: 16px;
  color: value(primaryText);
  overflow: hidden;
}

.root::dropdownContent::dropdownOption:hovered {
  background: value(inputHover);
}

.root::dropdownContent::dropdownOption:selected {
  background: value(main);
  color: value(primaryLightText);
}

.root::dropdownContent::dropdownOption:selected:hovered {
  background: value(mainHover);
  color: value(primaryLightText);
}

.root::dropdownContent::dropdownOption:disabled {
  color: value(disabledText);
}

.root::dropdownContent::dropdownOption:not(:selectable) {
  padding: 0;
}

.root::divider {
  background-color: #e5e5e5;
  display: flex;
  flex: 1;
}

.root::divider:customDivider {
  padding: 8px 20px;
}

.arrowIcon {
  position: absolute;
  right: 6px;
  top: calc(50% - 12px);
  width: 24px;
  height: 24px;
  fill: value(inputBorderColor);
}

.root:disabled .arrowIcon {
  fill: value(inputDisabledBorderColor);
}
