:import {
  -st-from: "wix-ui-core/dist/src/components/InputWithOptions/InputWithOptions.st.css";
  -st-default: InputWithOptions;
}

:import {
  -st-from: "../Input/Input.st.css";
  -st-default: Input;
}

:import {
  -st-from: "../Input/InputStates.st.css";
  -st-named: input-large, input-small, input-x-small;
}

.root {
  -st-extends: InputWithOptions;
  -st-states: size(enum(large, x-small, small));
}

.root::contentContainer {
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.14);
  max-width: 250px;
}

.input {
  -st-mixin: Input;
}

.root:size(large) .input {
  -st-mixin: input-large;
}

.root:size(small) .input {
  -st-mixin: input-small;
}

.root:size(x-small) .input {
  -st-mixin: input-x-small;
}

.root::option {
  cursor: pointer;
  white-space: nowrap;
  padding: 8px 0;
  text-overflow: ellipsis;
  font-size: 16px;
  color: #162d3d;
  overflow: hidden;
  text-align: left;
}

.root::option:hovered {
  background: #eaf7ff;
  color: #162d3d;
}

.root::option:selected {
  background: #3899ec;
  color: #ffffff;
}

.root::option:selected:hovered {
  background: #4eb7f5;
  color: #ffffff;
}

.root::option:disabled {
  color: #b6c1cd;
  cursor: default;
}
