:import {
  -st-from: "wix-ui-core/dist/src/components/InputWithOptions/InputWithOptions.st.css";
  -st-default: InputWithOptions;
}

.root {
  -st-extends: InputWithOptions;
}

.root::contentContainer {
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.14);
  max-width: 250px;
}

.option {
  cursor: pointer;
  white-space: nowrap;
  padding: 8px 0;
  text-overflow: ellipsis;
  overflow: hidden;
}

.root::option {
  font-size: 16px;
  color: #162d3d;
  overflow: hidden;
  text-align: left;
}

.root::option:hovered {
  background: #eaf7ff;
  color: #162d3d;
}

.root::option:selected {
  background: #3899ec;
  color: #ffffff;
}

.root::option:selected:hovered {
  background: #4eb7f5;
  color: #ffffff;
}

.root::option:disabled {
  color: #b6c1cd;
  cursor: default;
}
