:import {
  -st-from: "../core/CoreText/TextStyle.st.css";
  -st-default: TextStyle;
}

:import {
  -st-from: "../core/CoreText/Text.st.css";
  -st-default: Text;
}

:import {
  -st-from: "../../palette.st.css";
  -st-named: primaryText, secondaryText, primaryLightText, linkedText, disabledText, danger, premium, success, placeholderText;
}

:import {
  -st-from: "../../typography.st.css";
  -st-named: fontLight, fontRoman, fontMedium;
}

.root {
  -st-extends: Text;
  -st-states: appearance(string);
}

.root:appearance(T1) {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 16px,
    lineHeight 24px,
    color value(primaryText)
  );
}

.root:appearance(T1.1) {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 16px,
    lineHeight 24px,
    color value(secondaryText)
  );
}

.root:appearance(T1.2) {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 16px,
    lineHeight 24px,
    color value(primaryLightText)
  );
}

.root:appearance(T1.3) {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 16px,
    lineHeight 24px,
    color value(linkedText)
  );
}

.root:appearance(T1.4) {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 16px,
    lineHeight 24px,
    color value(disabledText)
  );
}

.root:appearance(T1.5) {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 16px,
    lineHeight 24px,
    color value(danger)
  );
}

.root:appearance(T1.6) {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 16px,
    lineHeight 24px,
    color value(premium)
  );
}

.root:appearance(T1.7) {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 16px,
    lineHeight 24px,
    color value(success)
  );
}

.root:appearance(T2) {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 16px,
    lineHeight 24px,
    color value(primaryText)
  );
}

.root:appearance(T2.1) {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 16px,
    lineHeight 24px,
    color value(placeholderText)
  );
}

.root:appearance(T2.2) {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 16px,
    lineHeight 24px,
    color value(primaryLightText)
  );
}

.root:appearance(T2.3) {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 16px,
    lineHeight 24px,
    color value(linkedText)
  );
}

.root:appearance(T2.4) {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 16px,
    lineHeight 24px,
    color value(disabledText)
  );
}

.root:appearance(T3) {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 14px,
    lineHeight 18px,
    color value(primaryText)
  );
}

.root:appearance(T3.1) {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 14px,
    lineHeight 18px,
    color value(secondaryText)
  );
}

.root:appearance(T3.2) {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 14px,
    lineHeight 18px,
    color value(primaryLightText)
  );
}

.root:appearance(T3.3) {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 14px,
    lineHeight 18px,
    color value(linkedText)
  );
}

.root:appearance(T3.4) {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 14px,
    lineHeight 18px,
    color value(disabledText)
  );
}

.root:appearance(T3.5) {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 14px,
    lineHeight 18px,
    color value(danger)
  );
}

.root:appearance(T3.6) {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 14px,
    lineHeight 18px,
    color value(premium)
  );
}

.root:appearance(T3.7) {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 14px,
    lineHeight 18px,
    color value(success)
  );
}

.root:appearance(T4) {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 14px,
    lineHeight 18px,
    color value(primaryText)
  );
}

.root:appearance(T4.1) {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 14px,
    lineHeight 18px,
    color value(secondaryText)
  );
}

.root:appearance(T4.2) {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 14px,
    lineHeight 18px,
    color value(primaryLightText)
  );
}

.root:appearance(T4.3) {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 14px,
    lineHeight 18px,
    color value(linkedText)
  );
}

.root:appearance(T4.4) {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 14px,
    lineHeight 18px,
    color value(placeholderText)
  );
}

.root:appearance(T4.5) {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 14px,
    lineHeight 18px,
    color value(disabledText)
  );
}

.root:appearance(T4.6) {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 14px,
    lineHeight 18px,
    color value(danger)
  );
}

.root:appearance(T4.7) {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 14px,
    lineHeight 18px,
    color value(success)
  );
}

.root:appearance(T5) {
  -st-mixin: TextStyle(
    fontFamily value(fontMedium),
    fontSize 10px,
    lineHeight 12px,
    color value(secondaryText),
    textTransform uppercase,
    letterSpacing 1px
  );
}

.root:appearance(T5.1) {
  -st-mixin: TextStyle(
    fontFamily value(fontMedium),
    fontSize 10px,
    lineHeight 12px,
    color value(primaryLightText),
    textTransform uppercase,
    letterSpacing 1px
  );
}
