:import {
  -st-from: "../core/CoreText/TextStyle.st.css";
  -st-default: TextStyle;
}

:import {
  -st-from: "../core/CoreText/Text.st.css";
  -st-default: Text;
}

:import {
  -st-from: "../../colors.st.css";
  -st-named:
  B10,
  D10, D20, D40, D50,
  G10,
  R10,
  P10,
WHITE,
}

:import {
  -st-from: "../../typography.st.css";
  -st-named: fontLight, fontRoman, fontMedium;
}

:vars {
  primaryText: value(D10);
  primaryLightText: value(WHITE);
  secondaryText: value(D20); 
  linkedText: value(B10); 
}

.root {
  -st-extends: Text;
  -st-states: appearance(string);
}

.root:appearance(T1) {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 16px,
    lineHeight 24px,
    color value(primaryText)
  );
}

.root:appearance("T1.1") {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 16px,
    lineHeight 24px,
    color value(secondaryText)
  );
}

.root:appearance("T1.2") {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 16px,
    lineHeight 24px,
    color value(primaryLightText)
  );
}

.root:appearance("T1.3") {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 16px,
    lineHeight 24px,
    color value(linkedText)
  );
}

.root:appearance("T1.4") {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 16px,
    lineHeight 24px,
    color value(D50)
  );
}

.root:appearance("T1.5") {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 16px,
    lineHeight 24px,
    color value(R10)
  );
}

.root:appearance("T1.6") {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 16px,
    lineHeight 24px,
    color value(P10)
  );
}

.root:appearance("T1.7") {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 16px,
    lineHeight 24px,
    color value(G10)
  );
}

.root:appearance(T2) {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 16px,
    lineHeight 24px,
    color value(primaryText)
  );
}

.root:appearance("T2.1") {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 16px,
    lineHeight 24px,
    color value(D40)
  );
}

.root:appearance("T2.2") {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 16px,
    lineHeight 24px,
    color value(primaryLightText)
  );
}

.root:appearance("T2.3") {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 16px,
    lineHeight 24px,
    color value(linkedText)
  );
}

.root:appearance("T2.4") {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 16px,
    lineHeight 24px,
    color value(D50)
  );
}

.root:appearance(T3) {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 14px,
    lineHeight 18px,
    color value(primaryText)
  );
}

.root:appearance("T3.1") {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 14px,
    lineHeight 18px,
    color value(secondaryText)
  );
}

.root:appearance("T3.2") {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 14px,
    lineHeight 18px,
    color value(primaryLightText)
  );
}

.root:appearance("T3.3") {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 14px,
    lineHeight 18px,
    color value(linkedText)
  );
}

.root:appearance("T3.4") {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 14px,
    lineHeight 18px,
    color value(D50)
  );
}

.root:appearance("T3.5") {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 14px,
    lineHeight 18px,
    color value(R10)
  );
}

.root:appearance("T3.6") {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 14px,
    lineHeight 18px,
    color value(P10)
  );
}

.root:appearance("T3.7") {
  -st-mixin: TextStyle(
    fontFamily value(fontLight),
    fontSize 14px,
    lineHeight 18px,
    color value(G10)
  );
}

.root:appearance(T4) {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 14px,
    lineHeight 18px,
    color value(primaryText)
  );
}

.root:appearance("T4.1") {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 14px,
    lineHeight 18px,
    color value(secondaryText)
  );
}

.root:appearance("T4.2") {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 14px,
    lineHeight 18px,
    color value(primaryLightText)
  );
}

.root:appearance("T4.3") {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 14px,
    lineHeight 18px,
    color value(linkedText)
  );
}

.root:appearance("T4.4") {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 14px,
    lineHeight 18px,
    color value(D40)
  );
}

.root:appearance("T4.5") {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 14px,
    lineHeight 18px,
    color value(D50)
  );
}

.root:appearance("T4.6") {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 14px,
    lineHeight 18px,
    color value(R10)
  );
}

.root:appearance("T4.7") {
  -st-mixin: TextStyle(
    fontFamily value(fontRoman),
    fontSize 14px,
    lineHeight 18px,
    color value(G10)
  );
}

.root:appearance(T5) {
  -st-mixin: TextStyle(
    fontFamily value(fontMedium),
    fontSize 10px,
    lineHeight 12px,
    color value(secondaryText),
    textTransform uppercase,
    letterSpacing 1px
  );
}

.root:appearance("T5.1") {
  -st-mixin: TextStyle(
    fontFamily value(fontMedium),
    fontSize 10px,
    lineHeight 12px,
    color value(primaryLightText),
    textTransform uppercase,
    letterSpacing 1px
  );
}
