:import {
  -st-from: "../../colors.st.css";
  -st-named: 
  R10,
WHITE;
}

.root {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: value(R10);
}

.root svg {
  fill: value(WHITE);
}
