:import {
    -st-from: "wix-ui-core/dist/src/components/Input/InputStyle.st.css";
    -st-default: Input;
  }
  
  :import {
    -st-from: "wix-ui-core/dist/src/components/Input/Input.st.css";
    -st-default: BaseInput;
  }

  :import {
    -st-from: "../../palette.st.css";
    -st-named: primaryText, inputBackground, inputBorderColor, inputHover, inputFocusBorderColor, danger;
  }

  :vars {
    borderRadius: 6px;
    border: 1px solid;
    padding: 0 12px;
    
    largeFont: 22px;
    medFont: 16px;
    smallFont: 14px;

    largeHeight: 60px;
    medHeight: 36px;
    smallHeight: 30px;
  }
  
  .root {
    -st-extends: BaseInput;
    -st-states: error, large, x-small, small;
    padding: value(padding);
    border-radius: value(borderRadius);
    border: value(border);
    color: value(primaryText);
    background-color: value(inputBackground);
    border-color: value(inputBorderColor);
  }

  .root:hover {
    background-color: value(inputHover);
  }

  .root:focus {
    border-color: value(inputFocusBorderColor);
  }

  .root:error {
    color: value(danger);
    border-color: value(danger);
  }

  .root:large {
    height: value(largeHeight);
    line-height: calc(value(largeHeight) - 2px);
    font-size: value(largeFont);
  }

  .root:small {
    height: value(medHeight);
    line-height: calc(value(medHeight) - 2px);
    font-size: value(medFont);
  }

  .root:x-small {
    height: value(smallHeight);
    line-height: calc(value(smallHeight) - 2px);
    font-size: value(smallFont);
  }