:import {
  -st-from: "wix-ui-core/dist/src/components/Input/Input.st.css";
  -st-default: Input;
}

:import {
  -st-from: "../../palette.st.css";
  -st-named:
    primaryText,
    inputBackground,
    inputBorderColor,
    inputHover,
    inputFocusBorderColor,
    inputDisabledColor,
    inputDisabledBorderColor,
    inputDisabledHoverBorderColor,
    danger;
}

:import {
  -st-from: "./InputStates.st.css";
  -st-named: input-large, input-medium, input-small;
}

:vars {
  borderRadius: 6px;
  borderStyle: solid;
  borderWidth: 1px;
  padding: 0 12px;
}

.root {
  -st-extends: Input;
  -st-states: size(enum(large, medium, small));

  display: inline-block;
  position: relative;
  box-sizing: border-box;
  color: value(primaryText);
}

.root:error::nativeInput,
.root:error:focus::nativeInput {
  border-color: value(danger);
}

.root:hover::nativeInput {
  background-color: value(inputHover);
}

.root:disabled::nativeInput {
  color: value(inputDisabledColor);
  border-color: value(inputDisabledBorderColor);
}

.root:disabled:hover::nativeInput {
  background-color: value(inputBackground);
  border-color: value(inputDisabledHoverBorderColor);
}

.root:focus::nativeInput {
  border-color: value(inputFocusBorderColor);
}

.root::nativeInput {
  background-color: value(inputBackground);
  border-color: value(inputBorderColor);
  border-radius: value(borderRadius);
  border-style: value(borderStyle);
  border-width: value(borderWidth);
  box-sizing: border-box;
  color: inherit;
  outline: none;
  padding: value(padding);
  width: 100%;
}

.root:size(large) {
  -st-mixin: input-large;
}

.root:size(medium) {
  -st-mixin: input-medium;
}

.root:size(small) {
  -st-mixin: input-small;
}
