:import {
  -st-from: "wix-ui-core/dist/src/components/Input/Input.st.css";
  -st-default: Input;
}

:import {
  -st-from: "../../colors.st.css";
  -st-named: B40;
}

:import {
  -st-from: "../../palette.st.css";
  -st-named:
    primaryText,
    inputBackground,
    inputBorderColor,
    inputHover,
    inputFocusBorderColor,
    inputDisabledColor,
    inputDisabledBorderColor,
    inputDisabledHoverBorderColor,
    backgroundSecondary,
    disabledText,
    danger;
}

:import {
  -st-from: "../../typography.st.css";
  -st-named: fontRoman;
}

:import {
  -st-from: "./InputStates.st.css";
  -st-named: input-large, input-medium, input-small;
}

:vars {
  borderRadius: 6px;
  borderStyle: solid;
  borderWidth: 1px;
  paddingTop: 0px;
  paddingBottom: 0px;
  paddingRight: 12px;
  paddingLeft: 12px;
  marginTop: 0px;
  marginBottom: 0px;
  marginRight: 0px;
  marginLeft: 0px;
}

.root {
  -st-extends: Input;
  -st-states: size(enum(large, medium, small));

  display: inline-block;
  position: relative;
  box-sizing: border-box;
  color: value(primaryText);
  width: 100%;
}

.root:error::nativeInput,
.root:error:focus::nativeInput {
  border-color: value(danger);
  padding-right: 30px;
  margin-right: -18px;
}
/*
:global([dir="rtl"]) .root:error::nativeInput,
:global([dir="rtl"]) .root:error:focus::nativeInput {
  padding-left: 30px;
  margin-left: -18px;
  padding-right: value(paddingRight);
  margin-right: value(marginRight);
}
*/
.root:hover::nativeInput {
  background-color: value(inputHover);
}

.root:disabled::nativeInput {
  color: value(inputDisabledColor);
  border-color: value(inputDisabledBorderColor);
}

.root:disabled:hover::nativeInput {
  background-color: value(inputBackground);
  border-color: value(inputDisabledHoverBorderColor);
}

.root:focus::nativeInput {
  border-color: value(inputFocusBorderColor);
}

.root::nativeInput {
  background-color: value(inputBackground);
  border-color: value(inputBorderColor);
  border-radius: value(borderRadius);
  border-style: value(borderStyle);
  border-width: value(borderWidth);
  box-sizing: border-box;
  color: inherit;
  outline: none;
  padding-top: value(paddingTop);
  padding-bottom: value(paddingBottom);
  padding-left: value(paddingLeft);
  padding-right: value(paddingRight);
  margin-top: value(marginTop);
  margin-bottom: value(marginBottom);
  margin-left: value(marginLeft);
  margin-right: value(marginRight);
  width: 100%;
  font-family: value(fontRoman);
}

.root::nativeInput::-webkit-input-placeholder { color: value(disabledText); }
.root::nativeInput:-moz-placeholder           { color: value(disabledText); }
.root::nativeInput::-moz-placeholder          { color: value(disabledText); }
.root::nativeInput:-ms-input-placeholder      { color: value(disabledText); }

.root::nativeInput::selection                 { background: value(B40); }
.root::nativeInput:-moz-selection             { background: value(B40); }

.root:size(large) {
  -st-mixin: input-large;
}

.root:size(medium) {
  -st-mixin: input-medium;
}

.root:size(small) {
  -st-mixin: input-small;
}

.errorIconPosition {
  position: absolute;
  right: 6px;
  top: calc(50% - 10px);
}
/*
:global([dir="rtl"]) .errorIconPosition {
  left: 6px;
  right: auto;
}
*/
.errorIconContainer {
  width: 21px;
  height: 21px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: value(danger);
}

.errorIconContainer svg {
  fill: value(backgroundSecondary);
}
