:import {
  -st-from: "wix-ui-core/dist/src/components/Button/Button.st.css";
  -st-default: Button;
}

:import {
  -st-from: "../../palette.st.css";
  -st-named: main;
}
.root {
  -st-extends: Button;
  -st-states: skin(enum(standard)), priority(enum(primary)), size(enum(medium));

  box-sizing: border-box;
  
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 18px; /* common to all but large */
}

.root:skin(standard):priority(primary) {
  background-color: value(main);
  border-color: value(main);
}

.root:skin(white):priority(secondary) {
  background-color: transparent;
  border-color: value(WHITE);
}

.root:size(medium) {
  height: 36px;
}

.root:size(small) {
  height: 30px;
}
