:import {
  -st-from: "wix-ui-core/dist/src/components/Button/Button.st.css";
  -st-default: Button;
}

:import {
  -st-from: "../../palette.st.css";
  -st-named: main, backgroundSecondary, danger, premium ;
}
.root {
  -st-extends: Button;
  -st-states: skin(enum(standard)), priority(enum(primary)), size(enum(medium));

  box-sizing: border-box;
  
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 18px; /* common to all but large */
}

:vars {
  skinStandardColor: value(main);
  skinWhiteColor: value(backgroundSecondary);
  skinDestructiveColor: value(danger);
  skinPremiumColor: value(premium);
}

.root:skin(standard):priority(primary) {
  background-color: value(skinStandardColor);
  border-color: value(skinStandardColor);
}

.root:skin(standard):priority(secondary) {
  background-color: transparent;
  border-color: value(skinStandardColor);
}

.root:skin(white):priority(primary) {
  background-color: value(skinWhiteColor);
  border-color: value(skinWhiteColor);
}

.root:skin(white):priority(secondary) {
  background-color: transparent;
  border-color: value(skinWhiteColor);
}

.root:skin(destructive):priority(primary) {
  background-color: value(skinDestructiveColor);
  border-color: value(skinDestructiveColor);
}

.root:skin(destructive):priority(secondary) {
  background-color: transparent;
  border-color: value(skinDestructiveColor);
}

.root:skin(premium):priority(primary) {
  background-color: value(skinPremiumColor);
  border-color: value(skinPremiumColor);
}

.root:skin(premium):priority(secondary) {
  background-color: transparent;
  border-color: value(skinPremiumColor);
}

.root:skin(white):priority(secondary) {
  background-color: transparent;
  border-color: value(skinWhiteColor);
}

.root:skin(destructive):priority(primary) {
  background-color: value(skinDestructiveColor);
  border-color: value(skinDestructiveColor);
}

.root:skin(destructive):priority(secondary) {
  background-color: transparent;
  border-color: value(skinDestructiveColor);
}

.root:skin(premium):priority(primary) {
  background-color: value(skinPremiumColor);
  border-color: value(skinPremiumColor);
}

.root:skin(premium):priority(secondary) {
  background-color: transparent;
  border-color: value(skinPremiumColor);
}

.root:size(medium) {
  height: 36px;
}

.root:size(small) {
  height: 30px;
}
