:import {
  -st-from: "wix-ui-core/index.st.css";
  -st-named: Text;
}

:import {
  -st-from: "../../palette.st.css";
  -st-named: 
    primaryText, secondaryText, primaryLightText, disabledText,
    success, danger, premium;
}

:import {
  -st-from: "../../typography.st.css";
  -st-named: fontLight, fontRoman;
}

.root {
  -st-extends: Text;
  -st-states: 
    appearance(enum(T1, T1.1, T3, T3.1)),
    skin(enum(standard, success, error, premium)),
    light,
    bold;

  white-space: pre-line;
  font-family: value(fontLight);
}

.root:appearance(T1), .root:appearance(T1.1) {
  font-size: 16px;
  line-height: 24px;
}

.root:appearance(T3), .root:appearance(T3.1) {
  font-size: 14px;
  line-height: 18px;
}

.root:appearance(T1), .root:appearance(T3) {
  color: value(primaryText);
}

.root:appearance(T1):light, .root:appearance(T3):light {
  color: value(primaryLightText);
}

.root:appearance(T1.1), .root:appearance(T3.1) {
  color: value(secondaryText);
}

.root:appearance(T1.1):light, .root:appearance(T3.1):light {
  color: value(disabledText);
}

.root:skin(success) {
  color: value(success);
}

.root:skin(error) {
  color: value(danger);
}

.root:skin(premium) {
  color: value(premium);
}

.root:bold {
  font-family: value(fontRoman);
}