:import {
  -st-from: "wix-ui-core/dist/src/components/StylableToggleSwitch/ToggleSwitchStyle.st.css";
  -st-default: ToggleSwitch;
}

:import {
  -st-from: "wix-ui-core/dist/src/components/StylableToggleSwitch/ToggleSwitch.st.css";
  -st-default: BaseToggleSwitch;
}

:import {
  -st-from: "../../palette.st.css";
  -st-named: tableSelected, main, mainHover, disabled, successNotifications, dangerNotifications, ctaHover, danger, successHover, dangerHover, disabledDividers;
}

.root {
  -st-extends: BaseToggleSwitch;
  -st-states: error, success, x-small, small;
  -st-mixin: ToggleSwitch(
    rootWidth initial,
    rootHeight initial,

    transitionSpeed 0.3s,
    borderRadius 50px,
    labelMovementRange 23px,

    outerLabelWidth 45px,
    outerLabelHeight 24px,

    innerLabelWidth 21px,
    innerLabelHeight 22px,
    innerLabelBackgroundColor white,

    backgroundColor value(tableSelected),
    backgroundColorChecked value(main),
    disabled value(disabled),
    backgroundColorHover value(mainHover),
    backgroundColorFocus value(mainHover)
  );
}


/* ====================== custom size states ====================== */

.root:x-small::outerLabel {
  width: 28px;
  height: 15px;
}

.root:small::outerLabel {
  width: 36px;
  height: 20px;
}

.root:x-small::innerLabel {
  width: 13px;
  height: 13px;
}

.root:small::innerLabel {
  width: 18px;
  height: 18px;
}

.root:x-small::toggleIcon {
  display: none;
}

/* & checked */

.root:checked:small::innerLabel {
  left: 17px;
}

.root:checked:x-small::innerLabel {
  left: 13px;
}


/* ====================== custom skin states ====================== */

.root:error::outerLabel {
  background-color: value(dangerNotifications);
}

.root:success::outerLabel {
  background-color: value(successNotifications);
}

.root:error::toggleIconPath {
  fill: value(dangerNotifications);
}

.root:success::toggleIconPath {
  fill: value(successNotifications);
}

/* & checked */

.root:checked:success::outerLabel {
  background-color: value(ctaHover);
}

.root:checked:error::outerLabel {
  background-color: value(danger);
}

.root:checked:success::toggleIconPath {
  fill: value(ctaHover);
}

.root:checked:error::toggleIconPath {
  fill: value(danger);
}

/* & hover */
.root:hover:success::outerLabel, .root:checked:hover:success::outerLabel {
  background-color: value(successHover);
}

.root:hover:error::outerLabel, .root:checked:hover:error::outerLabel {
  background-color: value(dangerHover);
}

.root:hover:success::toggleIconPath, .root:checked:hover:success::toggleIconPath {
  fill: value(successHover);
}

.root:hover:error::toggleIconPath, .root:checked:hover:error::toggleIconPath {
  fill: value(dangerHover);
}

/* & disabled */

.root:disabled:success::outerLabel, .root:disabled:success:hover::outerLabel, .root:disabled:success:checked::outerLabel, .root:disabled:success:checked:hover::outerLabel {
  background-color: value(disabled);
}

.root:disabled:error::outerLabel, .root:disabled:error:hover::outerLabel, .root:disabled:error:checked::outerLabel, .root:disabled:success:checked:hover::outerLabel {
  background-color: value(disabled);
}


.root:disabled:success::toggleIconPath, .root:disabled:success:hover::toggleIconPath {
  fill: value(disabledDividers);
}

.root:disabled:error::toggleIconPath, .root:disabled:error:hover::toggleIconPath {
  fill: value(disabledDividers);
}

.root:disabled:success:checked::toggleIconPath, .root:disabled:success:checked:hover::toggleIconPath {
  fill: value(disabledDividers);
}

.root:disabled:error:checked::toggleIconPath, .root:disabled:error:checked:hover::toggleIconPath {
  fill: value(disabledDividers);
}
