.root {
  -st-states: hasBody(boolean);

  display: flex;
  flex-direction: row;
}

.root:hasBody .title {
  margin-bottom: 6px;
}

.action {
  margin-top: 18px;
}

.image {
  margin-left: 18px;
  display: flex;
}
