:import {
  -st-from: "wix-ui-core/src/components/deprecated/label/Label.st.css";
  -st-default: Label;
}

:import {
  -st-from: "../../colors.st.css";
  -st-named: 
  D20,
}

:import {
  -st-from: "../../typography.st.css";
  -st-named: fontLight;
}

.root {
  -st-extends: Label;
  -st-states: size(enum(small, medium));
  color: value(D20);
  font-family: value(fontLight);
}

.root:size(medium) {
  font-size: 16px;
  line-height: 24px;
}

.root:size(small) {
  font-size: 14px;
  line-height: 18px;
}
