:import {
  -st-from: "wix-ui-core/dist/src/components/LinearProgressBar/LinearProgressBar.st.css";
  -st-default: LinearProgressBar;
}

:import {
  -st-from: "../../palette.st.css";
  -st-named: main, danger;
}

:import {
  -st-from: "../../colors.st.css";
  -st-named: WHITE;
}

.root {
   -st-extends: LinearProgressBar;
}

.root::barForeground {
  transition: width 0.5s ease-in-out;
}

.successIcon, .errorIcon {
  width: 18px;
  height: 18px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.successIcon {
  background: value(main);
  color: value(WHITE);
}

.errorIcon {
  background: value(danger);
  color: value(WHITE);
}