:import {
  -st-from: "wix-ui-core/dist/src/components/Divider/Divider.st.css";
  -st-default: Divider;
}

.root {
  -st-extends: Divider;

  background-color: #e5e5e5;
  display: flex;
  flex: 1;
}

.root:customDivider {
  padding: 8px 0;
}