:import {
  -st-from: "wix-ui-core/index.st.css";
  -st-named: AddressInput;
}

:import {
  -st-from: "../../palette.st.css";
  -st-named: primaryText, mainHover, main, disabledText, inputHover, primaryLightText;
}

:import {
  -st-from: "../Input/Input.st.css";
  -st-default: Input;
}

:import {
  -st-from: "../Input/InputStates.st.css";
  -st-named: input-large, input-medium, input-small;
}

.root {
  -st-extends: AddressInput;
  -st-states: size(enum(large, medium, small));
}

.root::contentContainer {
  border: none;
  border-radius: 8px;
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.14);
  max-width: 100%;
  min-width: 100%;
}

.root::inputComponent {
  -st-mixin: Input;
}

.root:size(large)::inputComponent {
  -st-mixin: input-large;
}

.root:size(medium)::inputComponent {
  -st-mixin: input-medium;
}

.root:size(small)::inputComponent {
  -st-mixin: input-small;
}

.root::option {
  white-space: nowrap;
  padding: 8px 20px;
  text-overflow: ellipsis;
  font-size: 16px;
  color: value(primaryText);
  overflow: hidden;
}

.root::option:hovered {
  background: value(inputHover);
}

.root::option:selected {
  background: value(main);
  color: value(primaryLightText);
}

.root::option:selected:hovered {
  background: value(mainHover);
  color: value(primaryLightText);
}

.root::option:disabled {
  color: value(disabledText);
}

.root::option:not(:selectable) {
  padding: 0;
}
