:import {
  -st-from: "wix-ui-core/dist/src/components/Popover/Popover.st.css";
  -st-default: Popover;
}

:import {
  -st-from: "../../palette.st.css";
  -st-named: brandSecondary, backgroundSecondary
}

:import {
  -st-from: "../../typography.st.css";
  -st-named: fontRoman;
}

:vars {
  /* TODO: create and use a fade function */

  /** background color D10 with opacity 0.95 */
  backgroundColor: rgba(22,45,61,0.95);
  closeButtonPadding: 6px;
}

.root {
  -st-states: bounce, placement-right, placement-left, placement-top, placement-bottom;
  -st-extends: Popover;
  -st-mixin: Popover(
    contentBorderColor value(backgroundColor),
    contentBackgroundColor value(backgroundColor),
    contentBorderWidth 0,
    contentBorderRadius 8px,
    contentPadding 0 0
    );
}

/* popoverContent and innerContent are taken from Tooltip.tooltipContent,
 * but I split them.
*/
.root::popoverContent {
  position: relative;
  box-sizing: border-box;
  box-shadow:
  0 6px 6px 0 rgba(22, 45, 60, 0.06),
  0 0 18px 0 rgba(22, 45, 60, 0.12);
}

.closeButton {
  position: absolute;
  top: value(closeButtonPadding);
  right: value(closeButtonPadding);
}

:global([dir="rtl"]) .closeButton {
  right: initial;
  left: value(closeButtonPadding);
}

.closeButtonWhiteSecondary {
  /* TODO: This should be from Button component [5.7-secondary-small] theme*/
  background-color: transparent;
  height: 24px;
  border: none;
}

.closeIcon {
  fill: white;
  height: 8px;
  width: 8px;
}

.innerContent {
  padding: 36px 30px;
  font-family: value(fontRoman);
  color: value(backgroundSecondary);
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 1.29;
}

