:import {
  -st-from: "wix-ui-core/dist/src/components/Popover/Popover.st.css";
  -st-default: Popover;
}

:import {
  -st-from: "../../palette.st.css";
  -st-named: brandSecondary, backgroundSecondary;
}

:import {
  -st-from: "../../colors.st.css";
  -st-named: WHITE;
}

:import {
  -st-from: "../../shadows.st.css";
  -st-named: shadow40;
}

:vars {
  /* TODO: create and use a fade function */

  /** background color D10 with opacity 0.95 */
  backgroundColor: rgba(22,45,61,0.95);
  closeButtonPadding: 6px;
}

.root {
  -st-states: bounce, placement-right, placement-left, placement-top, placement-bottom;
  -st-extends: Popover;
  -st-mixin: Popover(
    contentBorderColor value(backgroundColor),
    contentBackgroundColor value(backgroundColor),
    contentBorderWidth 0,
    contentBorderRadius 8px,
    contentPadding 0 0
    );
}

/* popoverContent and innerContent are taken from Tooltip.tooltipContent,
 * but I split them.
*/
.root::popoverContent {
  position: relative;
  box-sizing: border-box;
  box-shadow: value(shadow40);
}

.closeButton {
  position: absolute;
  top: value(closeButtonPadding);

  /* default dir=ltr */
  right: value(closeButtonPadding);
  left: initial;
}

:global([dir="rtl"]) .closeButton {
  right: initial;
  left: value(closeButtonPadding);
}

.innerContent {
  padding: 30px 36px;
  color: value(backgroundSecondary);
}

