:import {
  -st-from: "wix-ui-core/dist/src/components/Button/Button.st.css";
  -st-default: Button;
}

:import {
  -st-from: "../../palette.st.css";
  -st-named: main, mainHover, mainMutedBackground, WHITE;
}
.root {
  -st-extends: Button;
  -st-states: skin(enum(standard, white)), size(enum(small, large));

  box-sizing: border-box;
  
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.root:skin(standard) {
  color: value(main);
}

.root:skin(standard):hover {
  color: value(mainHover);
}

.root:skin(white) {
  color: value(WHITE);
}
.root:skin(white):hover {
  color: value(mainMutedBackground);
}

.root:size(small) {
  width: 18px;
  height: 18px;
}

/* svg sizing will be obsolete once we have 2 sets of icons which are based on 18x18 view and 24x24 view */
.root:size(small) svg {
  width: 6px;
  height: 6px;
}

.root:size(large) {
  width: 24px;
  height: 24px;
}
.root:size(large) svg {
  width: 8px;
  height: 8px;
}

