:import {
  -st-from: "wix-ui-core/dist/src/components/Checkbox/Checkbox.st.css";
  -st-default: Checkbox;
}

:import {
  -st-from: "../../palette.st.css";
  -st-named: backgroundPrimary, backgroundSecondary, mainMutedBackground, mainMuted, main, mainHover, dangerMutedHover, danger, disabledFields, dividerColor;
}

:vars {
  large: 20px;
  small: 14px;
  iconTick: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZmlsbD0iI2ZmZiIgZD0iTTExLjggNEw2LjUgOS4yIDQuMiA3IDMgOC4ybDMuNSAzLjZMMTMgNS4yIi8+PC9zdmc+);
  iconTickDisabled: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZmlsbD0iI2M4YzhjOCIgZD0iTTExLjggNEw2LjUgOS4yIDQuMiA3IDMgOC4ybDMuNSAzLjZMMTMgNS4yIi8+PC9zdmc+);
  iconIntermediate: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTQgN2g4djJINHoiLz48L3N2Zz4=);
  iconIntermediateDisabled: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNiAxNiI+PHBhdGggZmlsbD0iI2M4YzhjOCIgZD0iTTQgN2g4djJINHoiLz48L3N2Zz4=);
}

.root {
  -st-extends: Checkbox;
  -st-states: large, small;
  width: initial;
  height: initial;
  display: flex;
  align-items: center;
}

.root::box {
  background: value(backgroundSecondary);
  border: value(mainMuted);
  border-radius: 4px;
  border: solid 1px value(mainHover);
  box-sizing: border-box;
}

.root::childContainer {
  padding-left: 12px;
}

.root:large::box {
  width: value(large);
  height: value(large);
}

.root:small::box {
  width: value(small);
  height: value(small);
}

.root::box:active {
  background-color: value(mainHover);
}

.root:disabled::box {
  background-color: value(backgroundPrimary);
  border-color: value(disabledFields);
}

.root:disabled:checked::box {
  border-color: value(dividerColor);
}

.root:disabled {
  pointer-events: none;
}

.root:disabled::icon {
  background-color: value(backgroundPrimary);
}

.root:disabled::childContainer {
  color: value(backgroundPrimary);
}

.root:error::box {
  border-color: value(danger);
}

.root:hover:not(:disabled):not(:checked):not(:active)::box {
  background-color: value(mainMutedBackground);
}

.root:checked:not(:active)::box {
  background-color: value(main);
}

.root::tickIcon {
  background-image: value(iconTick);
}

.root:indeterminate:checked::indeterminateIcon {
  background-image: value(iconIntermediate);
}

.root:disabled::tickIcon {
  background-image: value(iconTickDisabled);
}

.root:disabled:indeterminate::indeterminateIcon {
  background-image: value(iconIntermediateDisabled);
}
