:import {
  -st-from: "wix-ui-core/dist/src/components/Checkbox/Checkbox.st.css";
  -st-default: Checkbox;
}

:import {
  -st-from: "../../palette.st.css";
  -st-named: backgroundPrimary, backgroundSecondary, mainMutedBackground, mainMuted, main, mainHover, dangerMutedHover, danger, disabledFields, disabledCheck, inputDisabledBorderColor;
}

:vars {
  boxSize: 16px;
}

.root {
  -st-extends: Checkbox;
  display: inline-flex;
  align-items: center;
}

.root:disabled {
  pointer-events: none;
}

.root::childContainer {
  font-size: 16px;
  padding-left: 12px;
}

.root:disabled::childContainer {
  color: value(backgroundPrimary);
}

.root::box {
  background: value(backgroundSecondary);
  border-radius: 4px;
  border: solid 1px value(mainHover);
  box-sizing: border-box;
  width: value(boxSize);
  height: value(boxSize);
}

.root:disabled::box {
  background-color: value(backgroundPrimary);
  border-color: value(disabledFields);
}

.root:disabled:checked::box {
  border-color: value(inputDisabledBorderColor);
}

.root::box:active {
  background-color: value(mainHover);
}

.root:error::box {
  border-color: value(danger);
}

.root:focus-visible::box {
  box-shadow: 0 0 0 3px #aadbfc;
  border-color: #3899ec;
}

.root:hover:not(:disabled):not(:checked):not(:active)::box {
  background-color: value(mainMutedBackground);
}

.root:checked:not(:active):not(:disabled)::box {
  background-color: value(main);
}

.root:indeterminate:not(:disabled):not(:checked):not(:active)::box {
  background-color: value(main);
}

.root:hover:indeterminate:not(:disabled):not(:checked):not(:active)::box {
  color: value(mainMutedBackground);
}

.checkedIcon {
  width: 9px;
  padding-left: 2.5px;
  height: 9px;
}

.indeterminateIcon {
  width: 8px;
  padding-left: 3px;
  height: 8px;
}

.root::box svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: value(backgroundSecondary);
}

.root:disabled::box svg {
  fill: value(disabledCheck);
}
