:import {
  -st-from: "wix-ui-core/dist/src/components/Checkbox/CheckboxStyle.st.css";
  -st-default: Checkbox;
}

:import {
  -st-from: "wix-ui-core/dist/src/components/Checkbox/Checkbox.st.css";
  -st-default: BaseCheckbox;
}

:import {
  -st-from: "../../palette.st.css";
  -st-named: mainMuted, main, mainHover, disabled, successMutedHover, dangerMutedHover, success, danger, successHover, dangerHover, dividerColor, disabled;
}

.root {
  -st-extends: BaseCheckbox;
  -st-states: error, success, x-small, small;
  -st-mixin: Checkbox(
    rootWidth initial,
    rootHeight initial,

    outerLabelWidth 45px,
    outerLabelHeight 24px,

    innerLabelWidth 21px,
    innerLabelHeight 22px,
    innerLabelBackgroundColor white,

    backgroundColor value(mainMuted),
    backgroundColorChecked value(main),
    backgroundColorDisabled value(disabled),
    backgroundColorHover value(mainHover),
    backgroundColorFocus value(mainHover),

    color value(mainMuted),
    colorChecked value(main),
    colorDisabled value(dividerColor),
    colorCheckedDisabled value(disabled),
    colorHover value(mainHover),
    colorFocus value(mainHover),

    toggleIconWidth 8px,
    toggleIconHeight 6px,
    toggleIconDisplay block
  );
}