.root {
    -st-states: horizontalAlignment(enum(left, center, right));
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.root:horizontalAlignment(left) {
    align-items: flex-start;
}

.root:horizontalAlignment(center) {
    align-items: center;
}

.root:horizontalAlignment(right) {
    align-items: flex-end;
}
