:import {
  -st-from: "wix-ui-core/dist/src/components/CircularProgressBar/CircularProgressBar.st.css";
  -st-default: CircularProgressBar;
}

:import {
  -st-from: "../../palette.st.css";
  -st-named: progress, error, danger, mainMutedHover, dangerMutedHover, backgroundPrimary, backgroundSecondary, secondaryText;
}

:import {
  -st-from: "../../typography.st.css";
  -st-named: fontMedium;
}

.progressBar {
   -st-states: light, size(enum(small, medium, large));
   -st-extends: CircularProgressBar;
}

.root {
  display: inline-block;
}

.root .progressBar::foreArc {
  stroke: value(progress);
}

.root .progressBar::backArc {
  stroke: value(mainMutedHover);
}

.root .progressBar:error::foreArc {
  stroke: value(error);
}

.root .progressBar:error::backArc {
  stroke: value(dangerMutedHover);
}

.root .progressBar:light::backArc {
  stroke: value(backgroundSecondary);
}

.root .progressBar::statusIndicator {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.root .progressBar:success::statusIndicator {
  color: value(progress);
}

.root .progressBar:error::statusIndicator {
  color: value(danger);
}

.root .progressBar::statusIndicator svg {
  height: 15px;
  width: 20px;
}

.root .progressBar:size(small)::statusIndicator svg {
  height: 9px;
  width: 12px;
}

.root .progressBar::progressIndicator {
  color: value(secondaryText);
  font-family: value(fontMedium);
  font-size: 10px;
  font-weight: 500;
  margin-top: 18px;
}
