:import {
  -st-from: "./colors.st.css";
  -st-named: 
  B00, B10, B20, B30, B40, B50,
  G10, G20, G30, G40,
  GR10, GR20, GR30, GR40, GR50, GR60,
  R10, R20, R30, R40, R00,
  D10, D20, D40, D50, D55, D60, D70,
  P10, P20, P30, P40,
  Y10, Y20, Y30, Y40,
  GR20,
  O10,
  WHITE,
  F00;
}

/* main */
:vars {
  backgroundPrimary: value(D70);
  backgroundSecondary: value(WHITE);
  brandPrimary: value(B10);
  brandSecondary: value(D10);

  disabled: value(D50);
  focus: value(B00);
  
  main: value(B10);
  success:	value(G10);
  warning:	value(Y10);
  danger:	value(R10);
  error: value(R00);
  premium:	value(P10);
  urgent: value(O10);
  standard:  value(B20);
  general: value(D20);
  neutral: value(D40);

  mainHover:	value(B20);
  successHover:	value(G20);
  warningHover:	value(Y20);
  dangerHover:	value(R20);
  premiumHover:	value(P20);

  mainMuted:	value(B40);
  mainMutedBackground: value(B50);
  successMuted:	value(G40);
  warningMuted:	value(Y40);
  dangerMuted:	value(R40);
  premiumMuted:	value(P40);
  progress: value(B00);

  mainMutedHover:	value(B30);
  successMutedHover:	value(G30);
  warningMutedHover:	value(Y30);
  dangerMutedHover:	value(R30);
  premiumMutedHover:	value(P30);

  disabledField: value(GR20);
  disabledCheck: value(D50);
}

/* Input colors */
:vars {
  inputBackground: value(backgroundSecondary);
  inputBorderColor: value(mainMutedHover);
  inputHover: value(mainMutedBackground);
  inputFocusBorderColor: value(mainHover);
  inputDisabledColor: value(D55);
  inputDisabledBorderColor: value(D60);
  inputDisabledHoverBorderColor: value(GR20);
}

/* Dropdown options */
:vars {
  dropdownOptionDivider: value(D60);
}

/* typography */
:vars {
  primaryText: value(D10);
  secondaryText: value(D20);
  placeholderText: value(D40);
  disabledText: value(D50);
  primaryLightText: value(WHITE);
  secondaryLightText: value(D50);

  buttonSecondaryText: value(B10);
  
  linkedText: value(brandPrimary);
  linkedTextHover: value(brandPrimary);

  headingText: value(primaryText);
  subheadingText: value(secondaryText);

  lightHeadingText: value(primaryLightText);
  lightSubheadingText: value(disabledText);
}

/* layout */
:vars {
  cardBackground: value(backgroundSecondary);
  dividerColor: value(D60);
}

/* shadow-box */
:vars {
  focusShadow: value(F00);
}
